APScheduler==3.9.1
asn1crypto==0.24.0
asyncio==3.4.3
backports.functools-lru-cache==1.6.4
BeautifulSoup==3.2.2
beautifulsoup4==4.9.3
Brotli==1.0.9
bs4==0.0.1
certifi==2021.10.8
chardet==4.0.0
colorama==0.4.5
configobj==5.0.6
configparser==4.0.2
crayons==0.4.0
cryptography==2.1.4
Django==1.11.29
django-background-task==0.1.8
django-background-tasks==1.2.5
django-compat==1.0.15
django-crontab==0.7.1
enum34==1.1.6
funcsigs==1.0.2
futures==3.3.0
gWakeOnLan==0.5.1
idna==2.10
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
numpy==1.16.6
pandas==0.24.2
pycairo==1.16.2
pycrypto==2.6.1
pygobject==3.26.1
python-dateutil==2.8.2
pytz==2022.4
pyxdg==0.25
requests==2.27.1
schedule==0.6.0
SecretStorage==2.3.1
selenium==3.141.0
six==1.16.0
soupsieve==1.9.6
tzlocal==2.1
urllib3==1.26.12
webdriver-manager==2.4.0
